---
title: Blog
slug: blog
is_layout: false
handle: blog
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 1
seo_title: Blog
---
{% extends 'parent' %}
{% block 'main' %}

<div id="banner">
  <div class="container intro_wrapper">
    <div class="inner_content">
      <h1>Our Blog</h1>
      <h1 class="title">See some of the creative process</h1>
      <h1 class="intro">
        Keep checking back here, as we'll be keeping the blog updated as we work through projects. See some of our builds, techniques, etc.
      </h1>
    </div>
  </div>
</div>
<div class="container wrapper">
  <div class="inner_content">
    <div class="row pad30">

    {% for post in contents.posts %}
      <div class="col-md-12 pad25">
        <div>
          <img src="{{ post.featured_image.url | resize: '900x700'}}" alt="">
        </div>
        <div class="row">
          <div class="col-md-12">
            <h1 class="post_link"><a href="blog_post.html">{{ post.title }}</a></h1>
            <div class="post-meta muted">
              <ul>
                <li>Posted by <a href="#">{{ post.author.name }}</a> </li>
                <li>{{ post.created_at | distance_of_time_in_words: now }} ago</li>
              </ul>
            </div>
            <p>{{ post.content }}
    <!--         <a href="#">[&#8230;]</a></p>
            <div class="read_more"><a href="blog_post.html">READ MORE &rarr;</a></div> -->
            <div class="pad30"></div>
            <hr>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}