---
title: Home
is_layout: false
handle: index
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 0
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="keywords" content="{{ site.meta_keywords }} {{ page.meta_keywords }}">
  {% if page.meta_description %}
    <meta name="description" content="{{ page.meta_description }}">
  {% else %}
    <meta name="description" content="{{ site.meta_description }}">
  {% endif %}

  <title>
    {{ page.title }} - {{ site.name }}
    {% if page.seo_title %}
      {{ page.seo_title }}
    {% else %}
      {{ site.seo_title }}
    {% endif %}
  </title>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <meta name="author" content="Brennan Holzer">

  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
  <!--[if IE]>
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet" type="text/css">
  <![endif]-->

  {{ 'bootstrap.css' | stylesheet_tag: 'screen, projection' }}
  {{ 'font-awesome.min.css' | stylesheet_tag: 'screen, projection' }}
  {{ 'theme.css' | stylesheet_tag: 'screen, projection' }}
  {{ 'colour.css' | stylesheet_tag: 'screen, projection' }}
  {{ 'prettyPhoto.css' | stylesheet_tag: 'screen, projection' }}
  {{ 'zocial.css' | stylesheet_tag: 'screen, projection' }}
  {{ 'extralayers.css' | stylesheet_tag: 'screen, projection' }}
  {{ 'nerveslider.css' | stylesheet_tag: 'screen, projection' }}
  {{ 'settings.css' | stylesheet_tag: 'screen, projection' }}
  {{ 'jquery.js' | javascript_tag }}
  {{ 'bootstrap.min.js' | javascript_tag }}
  {{ 'retina.js' | javascript_tag }}
  {{ 'jquery.touchSwipe.min.js' | javascript_tag }}
  {{ 'jquery.mousewheel.min.js' | javascript_tag }}
  {{ 'jquery.prettyPhoto.js' | javascript_tag }}
  {{ 'jquery.carouFredSel-6.2.1-packed.js' | javascript_tag }}
  {{ 'rs-plugin/js/jquery.themepunch.tools.min.js' | javascript_tag }}
  {{ 'rs-plugin/js/jquery.themepunch.revolution.min.js' | javascript_tag }}
  {{ 'jquery.isotope.min.js' | javascript_tag }}
  {{ 'imagesloaded.pkgd.min.js' | javascript_tag }}
  {{ 'scripts.js' | javascript_tag }}
  
  <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
  <!-- <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" /> -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  {% include 'header' %}
  {% block 'main' %}
  <!--page-->
  <!-- REVOLUTION SLIDER -->
    <div class="tp-banner-container">
    <div class="tp-banner">
      <ul>
  <!-- SLIDE -->
    <li data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7">
      <!-- MAIN IMAGE -->
        <img src="{{ '10575276_762934797060557_1506914388366141509_o.jpg' | theme_image_url }}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
          <!-- LAYER NR. 1 -->
            <div class="tp-caption tp-fade fadeout fullscreenvideo"
              data-x="0"
              data-y="0"
              data-autoplay="false"
              data-autoplayonlyfirsttime="false"
              data-nextslideatend="true"
              data-forceCover="1"
              data-dottedoverlay="2x2"
              data-forcerewind="on"
              data-volume="mute"
              style="z-index: 2">
  <!-- ADD YOUR POSTER IMAGE HERE -->         
<!--   <video class="video-js" preload="none" autoplay loop width="100%" height="100%" poster="video/ny.jpg">
  ADD YOUR VIDEOS HERE
  <source src="video/your_video.mp4" type='video/mp4' />
  <source src="video/your_video.ogv" type='video/ogg' />
  </video> -->
    </div>
      <!-- LAYER NR. 2 -->
        <div class="tp-caption large_bold_title  tp-resizeme"
          data-x="center" data-hoffset="0"
          data-y="170"
          style="z-index: 3">
        Normal Jacket
            </div>

      <!-- LAYER NR. 3 -->
        <div class="tp-caption medium_text_shadow tp-resizeme"
          data-x="center" data-hoffset="0"
          data-y="bottom" data-voffset="-270"
          style="z-index: 4">
        Video and Photo Production
          </div>
        </li>
      </ul>
    </div>
  </div>
        <!-- // END REVOLUTION SLIDER  -->

  
  <div id="banner">
  <div class="container intro_wrapper">
  <div class="inner_content">
  
  <!--welcome-->
    <div class="welcome_index">
      Videography and photography for whatever your needs may be. 
    </div>
  <!--//welcome-->
    </div>
      </div>
        </div>
        <!--//banner-->
      
  <div class="container wrapper">
  <div class="inner_content">
  
  <!--info boxes-->
  <div class="row pad45">
      <div class="col-sm-6 col-md-3">
        <div class="tile">
          <div class="intro-icon-disc cont-large"><i class="fa fa-video-camera intro-icon-large"></i></div>
          <h6>
            <span>VIDEO<br><a href="#">sub-header</a></span>
          </h6>
          <p>
            Music videos, corporate videos, commercials and more!
          </p>
          </div> 
        <div class="pad25"></div>

      </div> 
        
      <div class="col-sm-6 col-md-3">
        <div class="tile">
          <div class="intro-icon-disc cont-large"><i class="fa fa-camera-retro intro-icon-large"></i></div>
            <h6>
              <span>PHOTOGRAPHY<br><a href="#">another sub-header</a></span>
            </h6>
            <p>
              Album covers, real estate photography, and more!
            </p>
            </div> 
        <div class="pad25"></div>
      </div> 
          
      <div class="col-sm-6 col-md-3">
        <div class="tile">
          <div class="intro-icon-disc cont-large"><i class="fa fa-flask intro-icon-large"></i></div>
            <h6><span>SOMETHING ELSE<br><a href="#">sub-header again</a></span></h6>
            <p>
              This is another description about a service we offer. More stuff here.
            </p>  
            </div> 
        <div class="pad25"></div>
      </div> 
        
      <div class="col-sm-6 col-md-3">
        <div class="tile tile-hot">
          <div class="intro-icon-disc cont-large"><i class="fa fa-book  intro-icon-large"></i></div>
            <h6>
              <span>LAST ONE<br><a href="#">Last sub-header as well</a></span></h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non massa ac lacus cursus bibendum. Proin pharetra enim ac augue congue, vel pulvinar neque porta. Nunc facilisis arcu viverra dignissim.
            </p>
            </div>
          <div class="pad25"></div> 
      </div> 
        </div> 
        
      <!--//info boxes-->
      
      <div class="pad25 hidden-xs hidden-sm"></div> 
      <div class="row">
      <!--col 1-->
      <div class="col-md-12">
      <!-- <div class="row">
      
      <div class="col-sm-12 col-md-4">
      <h1>Recent Work</h1>
      <h4>
        Lorem ipsum dolor sit amet, rebum putant recusabo in ius, pri simul tempor ne, his ei summo virtute.
      </h4>
      <p>
        Nam ea labitur pericula. Meis tamquam pro te, cibo mutat necessitatibus id vim. An his tamquam postulant, pri id mazim nostrud diceret
        sapientem eloquentiam sea cu, sea ut exerci delicata. Corrumpit vituperata.
      </p>
      
      <a href="#" class="btn btn-primary btn-custom btn-rounded">view portfolio</a>
      <div class="pad30"></div>
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-8 pad30">
      
      <div id="slider_home">
            <div class="slider-item"> 
        <div class="slider-image">
        <div class="hover_colour">
        <a href="img/large/s1.jpg" data-rel="prettyPhoto">
          {{ 'small/s1.jpg' | image_tag }}</a>
          </div>
        </div>
        <div class="slider-title">
        <h3><a href="#">catalogue</a></h3>
        <p>An his tamquam postulant, pri id mazim nostrud diceret.</p>
        </div>
      </div>
      
      <div class="slider-item">
        <div class="slider-image">
        <div class="hover_colour">
        <a href="img/large/s2.jpg" data-rel="prettyPhoto">
          {{ 'small/s2.jpg' | image_tag }}</a>
          </div>
        </div>
        <div class="slider-title">
        <h3><a href="#">loupe</a></h3>
        <p>An his tamquam postulant, pri id mazim nostrud diceret.</p>
        </div>
      </div>
      
      <div class="slider-item">
        <div class="slider-image">
        <div class="hover_colour">
        <a href="img/large/s3.jpg" data-rel="prettyPhoto">
          {{ 'small/s3.jpg' | image_tag }}</a>
          </div>
        </div>
        <div class="slider-title">
        <h3><a href="#">retro rocket</a></h3>
        <p>An his tamquam postulant, pri id mazim nostrud diceret.</p>
        </div>
      </div>
      
      <div class="slider-item">
        <div class="slider-image">
        <div class="hover_colour">
        <a href="img/large/s4.jpg" data-rel="prettyPhoto">
          {{ 'small/s4.jpg' | image_tag }}</a>
          </div>
        </div>
        <div class="slider-title">
        <h3><a href="#">infographics</a></h3>
        <p>An his tamquam postulant, pri id mazim nostrud diceret.</p>
        </div>
      </div>
      
      <div class="slider-item">
        <div class="slider-image">
        <div class="hover_colour">
        <a href="img/large/s5.jpg" data-rel="prettyPhoto">
          {{ 'small/s5.jpg' | image_tag }}</a>
          </div>
        </div>
        <div class="slider-title">
        <h3><a href="#">mock up</a></h3>
          <p>An his tamquam postulant, pri id mazim nostrud diceret.</p>
          </div>
        </div>
      
      <div class="slider-item">
        <div class="slider-image">
        <div class="hover_colour">
        <a href="img/large/s6.jpg" data-rel="prettyPhoto">
          {{ 'small/s6.jpg' | image_tag }}</a>
          </div>
        </div>
        <div class="slider-title">
        <h3><a href="#">retro badges</a></h3>
          <p>An his tamquam postulant, pri id mazim nostrud diceret.</p>
          </div>
        </div>
      
      <div class="slider-item">
      <div class="slider-image">
        <div class="hover_colour">
        <a href="img/large/s7.jpg" data-rel="prettyPhoto">
          {{ 'small/s7.jpg' | image_tag }}</a>
          </div>
        </div>
        <div class="slider-title">
        <h3><a href="#">details</a></h3>
          <p>An his tamquam postulant, pri id mazim nostrud diceret.</p>
        </div>
      </div>
      
      <div class="slider-item">
        <div class="slider-image">
        <div class="hover_colour">
        <a href="img/large/s8.jpg" data-rel="prettyPhoto">
          {{ 'small/s8.jpg' | image_tag }}</a>
          </div>
        </div>
        <div class="slider-title">
        <h3><a href="#">vintage form</a></h3>
          <p>An his tamquam postulant, pri id mazim nostrud diceret.</p>
        </div>
      </div>
        </div>
        <div id="sl-prev" class="widget-scroll-prev"><i class="fa fa-chevron-left white"></i></div>
        <div id="sl-next" class="widget-scroll-next"><i class="fa fa-chevron-right white but_marg"></i></div>
      <div class="pad25"></div> </div>
        </div> -->
        </div>
      </div>
    </div>
    <!--//page-->
    <script type="text/javascript">
    //<![CDATA[
    jQuery(document).ready(function($) {
      $("#slider_home").carouFredSel({ 
        width : "100%", 
        height : "auto",
        responsive : true,
        auto : false,
        items : { width : 280, visible: { min: 1, max: 3 }
        },
        swipe : { onTouch : true, onMouse : true },
        scroll: { items: 1, },
        prev : { button : "#sl-prev", key : "left"},
        next : { button : "#sl-next", key : "right" }
        });
      });
    //]]>
    </script>
  {% endblock %}
  </div>
  </div>
  <!-- footer -->
  <div id="footer">
    <h1>get in touch</h1>
      <h3 class="center follow">
        We're social and we'd love to hear from you! Feel free to send us an email, find us on Google Plus, follow us on Twitter and join us on Facebook.
      </h3>
  <div class="follow_us">
    <a href="#" class="fa fa-twitter follow_us"></a>
    <a href="#" class="fa fa-facebook follow_us"></a>
    <a href="#" class="fa fa-linkedin follow_us"></a>
    <a href="#" class="fa fa-google-plus follow_us"></a>
    <a href="#" class="fa fa-vimeo-square follow_us"></a>
    </div>
  </div>
  
  <!-- footer 2 -->
  <div id="footer2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <div class="copyright">
              NORMAL JACKET
              &copy;
              <script type="text/javascript">
              //<![CDATA[
                var d = new Date()
                document.write(d.getFullYear())
                //]]>
                </script>
               - All Rights Reserved
            </div>
            </div>
          </div>
        </div>
          </div>
        <!-- up to top -->
        <a href="#"><i class="go-top fa fa-angle-double-up"></i></a>
        <!--//end-->
        


<!-- slider settings -->
<script type="text/javascript">
//<![CDATA[
    
    jQuery(document).ready(function() {
      jQuery('.tp-banner').show().revolution(
        {
          delay:9000,
          startwidth:1170,
          startheight:620,
          fullScreen:"on",
          forceFullWidth:"on",
          minFullScreenHeight:"320",
          fullScreenOffsetContainer: ".header",
          touchenabled:"off",   
        });
      }); 
    //]]>
  </script>


</body>
</html>