---
title: Work
slug: work
is_layout: false
handle: work
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 105
seo_title: Work
---
{% extends 'parent' %}

{% block 'main' %}

<div id="banner">
  <div class="container intro_wrapper">
    <div class="inner_content">
      <h1>Work</h1>
      <h1 class="title">Take a look at our portfolio</h1>
    </div>
  </div>
</div>
<div class="container wrapper">
  <div class="inner_content">
    <div class="row">
      <div class="projects">
        {% for item in contents.portfolio_items %}
        <div class="col-xs-12 col-sm-6 col-md-6 element category01 portfolio-item" data-category="category01">
          <div>
            <a href="/work/{{ item._slug }}">
              <img src="{{ item.featured_image.url | resize: '570x350#' }}" alt="" />
            </a>
          </div>
          <div class="item_description">
            <a href="/work/{{ item._slug }}"><span>{{ item.name }}</span></a>
            <br>
            {{ item.description }}
          </div>
        </div>
        {% endfor %}
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
<script>
  var $container = $('.projects');
  $container.imagesLoaded(function() {
  $('.projects').fadeIn(1000).isotope({
  layoutMode : 'fitRows',
    itemSelector : '.element' });
  });
  $('.element').css('opacity',0);
  $('.element').each(function(i){
  $(this).delay(i*150).animate({'opacity':1},350);
  });
</script>
{% endblock %}